* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;  scroll-behavior: smooth;
}

.container-fluid{
  background-image: linear-gradient(to bottom, #accbee 0%, #e7f0fd 100%);
height: 118vh; 
padding-top:120px;
}
.fullname-butto{
display: none;
}

.form-control:focus {
  outline: none!important;
  box-shadow: none;
}


.plusicons{
   color: #22577A;
   cursor: pointer;
}


.plusicons:hover{
 color: red;
}

.bg-commom {
  background: #22577A;
}

.breadcrumb li a {
  color: white;
}

.breadcrumb .breadcrumb-item{
  color: white;
}

.nav-link{
 color: white;
}
.nav-link:hover{
 color: #414141;
}


 @media screen and (max-width : 746px) {
  .container-fluid{
    height: 135vh; 
  
    }
  } 

.dropdown-toggle{
 
  margin: 0;
  padding: 0;
 }

 .btn-group button{
     outline: none;
     border: none;
 } 


   .profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
 }
  .profile-pic input {
    display: none;
 }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 100px;
    z-index: 0;
 }
  .profile-pic .-label {
    cursor: pointer;
    height: 120px;
    width: 120px;
 } 
   .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
 }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
 }
.address-part{
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: #eeeff0;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  font-size: 18px;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.75);
  transition: .2s linear;
}

.dropdown-menu {
  position: absolute;
  left: -80px;
}

.navbar-toggler {
  transform: rotate(180deg);
  border: 1px solid black;
  padding: 6px 0 6px 0;
  height: 36px;
}

.nav-animtion {
  margin-left: 20px;
}

.nav-animtion a {
  color: grey;
  font-size: 1.5rem;
  transition: .2s linear;
}

.sticky {
  background-color: #22577A;
}

.sticky .nav-animtion a {
  color: #fff;
}

.sticky ul.nab li a {
  color: #fff;
}

ul.nab li a,
ul.nab li a:after,
ul.nab li a:before {
  transition: all .5s;
}

ul.nab li a:hover {
  color: #555;
}

ul.nab li a {
  color: grey;
  padding: 8px;
  position: relative;
}

ul.nab li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

ul.nab li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

ul.nab li a:hover {
  color: #fff;
  z-index: 1;
}

ul.nab li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

.nab {
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  list-style: none;
  border-radius: 10px;
}
/* SHIFT */
/* Keyframes */

@keyframes fill {
  0% {
      width: 0%;
      height: 1px;
  }
  50% {
      width: 100%;
      height: 1px;
  }
  100% {
      width: 100%;
      height: 100%;
      background: #333;
  }
}

.nab a {
  transition: .8s;
  color: grey;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}

.nab a:hover {
  color: #4665F9;
}


.form-group {
  width: 80%;
  margin: auto;
}

.form-group label {
  font-size: 18px;
}

.alert-password {
  text-align: center;
  padding-right: 69px;
}

.text {
  text-align: center;
  margin-top: 10px;
}

.text p:first-child {
  padding-right: 47px;
}

.text p:nth-child(2) {
  padding-right: 100px;
}

.btn2 {
  width: 80%;
  background: #22577A;
  color: white;
  margin: 20px 47px 5px 47px;
}

.btn2:hover {
  outline: #854fee;
}

.sign {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 0;
}

.btn1 {
  height: 43px;
  background-color: #12486d;
  color: #fff;
}

.btn1:hover {
  background-color: #096869;
  border-color: #096869;
  color: white;
}


.edit-save{
  display:flex;
  justify-content: center;
}
.edit-save a{
  cursor: pointer;
  text-decoration: none;
 margin: 10px;
 outline: none;
 border:1px solid #D7FFFE ;
 background: #096869;
 color: white;
 padding: 6px 14px;
 border-radius: 30px;
 transition: 0.3s;
}

.edit-save a:hover{
 border:1px solid #096869;
 background: #ffffff;
 color: #096869;
}

@media(max-width:1334px) {
  .c {
      height: 130vh;
  }
}

@media(max-width:795px) {
  .service-searching {
      display: block;
      justify-content: center;
      width: 100%;
  }
  .service-searching .service-all-input {
      display: block;
  }
}
/* new search */

.service-all-input {
  margin: 0px 30px 18px 30px;
}


.right-side-middle-header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.right-side-middle-header .booking-ongoing ,.right-side-middle-header .booking-history{
  border-bottom: 1px solid grey;
  width: 100%; cursor: pointer;
 display: flex;
 justify-content: center;
}
.right-side-middle-header .booking-ongoing:hover, .right-side-middle-header .booking-history:hover{
  border-bottom: 3px solid rgb(255, 0, 0);
}



.right-side-middle-header .booking-history button,.right-side-middle-header .booking-ongoing button{
  padding: 4px 10px;
  border: none;
  outline: none; margin-bottom: 10px;
}
.right-side-middle-header button:hover{
 color: red;
}


.right-side-bottom-header{
  display: flex;
  justify-content: space-around;
}




/* tagline */


/* Crausel starts from here  */



/*Caraousel ends here*/



.list-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px auto;
  flex-wrap: wrap;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text1 p {
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
}

.cardss {
  width: 30%;
  margin: 10px 10px;
}

.btm1 {
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 40px;
  font-size: 22px;
  font-weight: bold;
}

/* .card {
  width: 18rem;
} */

.ul {
  background-color: #fff;
  padding: 5%;
  border-radius: 20px;
  font-size: 16px;
}

.goTop {
  transition: .6s;
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #34768F;
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.goTop:hover {
  opacity: 0.4;
}
/*review ki css ends here */







@media(max-width:992px) {
  .nab {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      margin: 5px 0px;
      background-image: none;
      height: 20vh;
      justify-content: center;
      /* background-color: #22577A; */
  }
  .nab a {
      text-align: center;
      padding: 11px;
      font-size: 18px;
  }
  .navbar {
      box-shadow: none;
  }
  .logo-nav {
      height: 50px;
      width: 50px;
  }
}

@media(max-width:950px) {
  .cardss {
      width: 50%;
  }
}

@media (max-width:840px) {
  #myUl .card {
      width: 48%;
  }
  .c::before {
      height: 450vh;
  }
}

@media(max-width:700px) {
  .rev-cnt {
      flex-wrap: wrap;
  }
  .rev-card {
      width: 90%;
      height: 40vh;
      margin-bottom: 20px;
  }
  .review {
      height: 120vh;
  }
  .review::before {
      height: 120vh;
  }
  .rev-cnt {
      height: 95vh;
  }
}

@media (max-width:600px) {
  #myUl .card {
      width: 80%;
      margin-bottom: 10px;
  }
  .c::before {
      height: 650vh;
  }
  .c2 h1 {
      font-size: 1.8em;
      height: 7vh;
  }
  .rev-card {
      height: 45vh;
  }
}

